<div class="mt-12" id="box-content">
    <div class="row" id="rows">
        {{#each courses}}
        <div class="col-sm-6 col-lg-4" id="course-item">
            <div class="card">
                <a href="/courses/{{this.slug}}">
                    <img class="card-img-top" src="{{this.img}}" alt="{{this.name}}">
                </a>
                <div class="card-body">
                <a href="/courses/{{this.slug}}">
                    <h5 class="card-title line-clamp" id="title">{{this.name}}</h5>
                </a>
                    <p class="card-text line-clamp" id="desc">{{this.desc}}</p>
                    <a href="#" class="btn btn-primary">Xem thêm</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>  